* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(37, 37, 38);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}